<div class="container-fluid">
  <div class="row">
    <div class="col-xs-8 col-sm-10 col-md-10">
      <div class="h2 text-center">
        Manager Dashboard
      </div>
    </div>

    <div class="col-xs-4 col-sm-2 col-md-2 text-right">
      <signout-control></signout-control>
    </div>
  </div>

  <hr />


  <div class="row">
    <div class="col-sm-offset-1 col-sm-10">
      <div class="row">
        <div class="col-sm-4">
          <div class="panel panel-success">
            <div class="panel-heading">
              USER OPERATIONS
            </div>
            <div class="panel-body">
              <div class="row text-center">
                <button class="btn btn-success" ui-sref="create-user">Create</button>
                <button class="btn btn-info" ui-sref="search-users">Search</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="panel panel-success">
            <div class="panel-heading">BOOK OPERATIONS</div>
            <div class="panel-body">
              <div class="row text-center">
                <button class="btn btn-success" ui-sref="create-book">Create</button>
                <button class="btn btn-info" ui-sref="search-books">Search</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="panel panel-success">
            <div class="panel-heading">LIBRARY OPERATIONS</div>
            <div class="panel-body">
              <div class="row text-center">
                <button class="btn btn-success" ui-sref="lend-book">Lend book</button>
                <button class="btn btn-info" ui-sref="search-borrows">Search</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="h3 status">
          Library status:
        </div>
      </div>

      <div class="row">
        <canvas class="chart chart-pie" chart-data="chart.data" chart-labels="chart.labels" chart-series="chart.series"></canvas>
      </div>

      <div class="row" style="margin-top: 90px">
        <div class="col-sm-4">
          <div class="panel panel-success">
            <div class="panel-heading">
              USER OPERATIONS
            </div>
            <div class="panel-body">
              <div class="row text-center">
                <button class="btn btn-success" ui-sref="borrower-dashboard">See own borrows</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
