<div class="container-fluid">
  <navigate-to-dashboard></navigate-to-dashboard>

  <div class="row">
    <div class="h3 text-center">
      Borrow books
    </div>
  </div>

  <br />

  <div class="row">
    <div class="col-xs-offset-1 col-xs-10">

      <div class="row">
        <form class="form-horizontal" ng-submit="borrow(username, bookname, days, quantity);">
          <fieldset>

            <!-- Form Name -->
            <legend>Form Name</legend>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="textinput1">Email</label>
              <div class="col-md-4">
                <input list="usernames" name="username" ng-model="username" type="text" placeholder="email here" class="form-control input-md" required="">
                <datalist id="usernames">
                  <option ng-repeat="user in usersArr" value="{{user.id + '. ' + user.username}}"></option>
                </datalist>
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="textinput2">Book name</label>
              <div class="col-md-4">
                <input list="booknames" name="book" ng-model="bookname" type="text" placeholder="book name here" class="form-control input-md" required="" on-change="setMaxQuantity(bookname);">
                <datalist id="booknames">
                  <option ng-repeat="book in booksArr" value="{{book.id + '. ' + book.name}}"></option>
                </datalist>
              </div>
            </div>

            <!-- Numeric input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="textinput2">Days</label>
              <div class="col-md-4">
                <input id="textinput2" ng-model="days" type="number" placeholder="number of days to borrow" class="form-control input-md" ng-min="0" required="">
              </div>
            </div>

            <!-- Numeric input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="textinput2">Quantity ({{maxQuantity}})</label>
              <div class="col-md-4">
                <input id="textinput2" ng-model="quantity" type="number" placeholder="number of books of this kind" class="form-control input-md" ng-min="1" required="" ng-max="{{book.availableStock}}">
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4"></label>
              <div class="col-md-8">
                <button type="submit" name="submitButton" class="btn btn-success">Borrow</button>
              </div>
            </div>

          </fieldset>
        </form>
      </div>

      <div class="row">
        <div class="h3 text-center" style="color:red;" ng-show="errorMsg">
          {{errorMsg}}
        </div>
        <div class="h3 text-center" style="color:green;" ng-show="successMsg">
          {{successMsg}}
        </div>
      </div>

    </div>
  </div>
</div>
