<div class="container-fluid">
  <div class="row">
    <div class="col-xs-8 col-sm-10 col-md-10">
      <div class="h2 text-center">
        Borrower Dashboard
      </div>
    </div>
    <div class="col-xs-4 col-sm-2 col-md-2 text-right">
      <signout-control></signout-control>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-offset-1 col-sm-10">

      <div class="row head-row">
        <div class="col-sm-4">Book Name</div>
        <div class="col-sm-2">Quantity</div>
        <div class="col-sm-3">Borrowed At</div>
        <div class="col-sm-3">Return at</div>
      </div>

      <div class="row" ng-repeat="borrow in dataArr" ng-class="{'odd-row': $index % 2, 'even-row': !($index % 2)}">
        <div class="col-sm-4">{{borrow.bookName}}</div>
        <div class="col-sm-2">{{borrow.quantity}}</div>
        <div class="col-sm-3">{{borrow.createdAt | date:'dd-MM-yyyy'}}</div>
        <div class="col-sm-3">{{borrow.endsAt | date:'dd-MM-yyyy'}}</div>
      </div>

    </div>
  </div>

</div>
