<div class="container-fluid">
  <navigate-to-dashboard></navigate-to-dashboard>

  <div class="row">
    <div class="col-xs-offset-1 col-sm-offset-2 col-xs-10 col-sm-8" style="background-color: lightblue;">
      <form class="form-horizontal" ng-submit="createUser({username: username, password: password})">
        <fieldset>

        <!-- Form Name -->
        <legend>Add a new user</legend>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput1">Email</label>
          <div class="col-md-6">
          <input id="textinput1" ng-model="username" name="textinput1" type="text" placeholder="email address here" class="form-control input-md" required="">

          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput2">Password</label>
          <div class="col-md-6">
            <input id="textinput2" ng-model="password" name="textinput2" type="password" placeholder="password here" class="form-control input-md" required="">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="radios">User type</label>
          <div class="col-md-4">
            <label class="radio-inline" for="radios-0">
              <input type="radio" name="radios" id="radios-0" value="1">
              Manager
            </label>
            <label class="radio-inline" for="radios-1">
              <input type="radio" name="radios" id="radios-1" value="2">
              Borrower
            </label>
          </div>
        </div>

        <!-- Button (Double) -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="cancelbtn"></label>
          <div class="col-md-8">
            <button id="cancelbtn" name="cancelbtn" class="btn btn-warning" type="reset">Cancel</button>
            <button id="createbtn" name="createbtn" class="btn btn-success" type="submit">Create</button>
          </div>
        </div>

        </fieldset>
      </form>

      <div class="row">
        <div class="h3 text-center" style="color:red;" ng-show="errorMsg">
          {{errorMsg}}
        </div>
        <div class="h3 text-center" style="color:green;" ng-show="successMsg">
          {{successMsg}}
        </div>
      </div>
    </div>
  </div>
</div>
