<div class="container-fluid">
  <navigate-to-dashboard></navigate-to-dashboard>

  <div class="row">
    <div class="col-xs-offset-1 col-xs-10">

      <div class="row">
        <form class="form-horizontal" ng-submit="find(email);">
          <fieldset>

          <!-- Form Name -->
          <legend>Search for user</legend>

          <!-- Search input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="searchinput">User email</label>
            <div class="col-md-5">
              <input id="searchinput" name="searchinput" ng-model="email" ng-change="find(email);" type="search" placeholder="email or book name" class="form-control input-md" required="">
            </div>
          </div>

          <!-- Button -->
          <div class="form-group">
            <div class="col-md-12">
              <button id="searchbtn1" name="searchbtn1" class="btn btn-primary" type="submit">Search</button>
              <button id="searchbtn2" name="searchbtn2" class="btn btn-inversed" type="button" ng-click="findAll();">Show all</button>
            </div>
          </div>

          </fieldset>
        </form>
      </div>

      <div class="row head-row">
        <div class="col-sm-4">Borrower</div>
        <div class="col-sm-2">Book</div>
        <div class="col-sm-1">Pieces</div>
        <div class="col-sm-2">Borrowed at</div>
        <div class="col-sm-2">Return at</div>
        <div class="col-sm-1">Operations</div>
      </div>

      <div class="row" ng-repeat="borrow in visibleBorrowsArr" ng-class="{'odd-row': $index % 2, 'even-row': !($index % 2)}">
        <div class="col-sm-4">
          {{borrow.username}}
        </div>
        <div class="col-sm-2">
          {{borrow.bookName}}
        </div>
        <div class="col-sm-1">
          {{borrow.quantity}}
        </div>
        <div class="col-sm-2">
          {{borrow.createdAt | date:'yyyy-MM-dd'}}
        </div>
        <div class="col-sm-2">
          {{borrow.endsAt | date:'yyyy-MM-dd'}}
        </div>
        <div class="">
          <button type="button" class="btn btn-sm btn-success" ng-click="returnBorrow(borrow.id);">
            <i class="fa fa-minus" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>

  </div>
</div>
