<div class="login-page container-fluid">
  <div class="row">
    <div class="well well-lg">

    </div>
  </div>

  <div class="row">
    <div class="loginmodal-container">
      <h1>Login to Your Account</h1><br>
      <form ng-submit="submitCredentials({username: username, password: password})">
        <input type="text" name="user" placeholder="Username" ng-model="username">
        <input type="password" name="pass" placeholder="Password" ng-model="password">
        <input type="submit" name="login" class="login loginmodal-submit" value="Login">
      </form>

      <div class="alert alert-danger text-center" ng-show="errorMessage">
        <span class="sr-only">Error:</span>
        {{errorMessage}}
      </div>

      <div class="login-help">
        <a href="#">Register</a> - <a href="#">Forgot Password</a>
      </div>
    </div>
  </div>

  <br />
  <div class="row">
    <div class="well well-lg">

    </div>
  </div>
</div>
