<div class="container-fluid">
  <navigate-to-dashboard></navigate-to-dashboard>

  <div class="row">
    <div class="col-xs-offset-1 col-sm-offset-2 col-xs-10 col-sm-8" style="background-color: lightblue;">
      <form class="form-horizontal" ng-submit="update({name: name, author: author, availableStock: availableStock, totalStock: totalStock})">
        <fieldset>

        <!-- Form Name -->
        <legend>Update book</legend>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput1">Name</label>
          <div class="col-md-6">
          <input id="textinput1" ng-model="name" name="textinput1" type="text" placeholder="book name" class="form-control input-md" required="">

          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput2">Author</label>
          <div class="col-md-6">
          <input id="textinput2" ng-model="author" name="textinput2" type="text" placeholder="book author name" class="form-control input-md" required="">

          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="numberinput1">Available stock</label>
          <div class="col-md-4">
          <input id="numberinput1" ng-model="availableStock" name="numberinput1" type="number" placeholder="available book pieces" class="form-control input-md" required="">

          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="numberinput2">Total stock</label>
          <div class="col-md-4">
          <input id="numberinput2" ng-model="totalStock" name="numberinput2" type="number" placeholder="total book pieces" class="form-control input-md" required="">

          </div>
        </div>

        <!-- Button (Double) -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="cancelbtn"></label>
          <div class="col-md-8">
            <button id="cancelbtn" name="cancelbtn" class="btn btn-warning" type="reset">Cancel</button>
            <button id="updatebtn" name="updatebtn" class="btn btn-success" type="submit">Update</button>
          </div>
        </div>

        </fieldset>
      </form>

      <div class="row">
        <div class="h3 text-center" style="color:red;" ng-show="errorMsg">
          {{errorMsg}}
        </div>
        <div class="h3 text-center" style="color: green;" ng-show="successMsg">
          {{successMsg}}
        </div>
      </div>
    </div>
  </div>
</div>
