<div class="container-fluid">
  <navigate-to-dashboard></navigate-to-dashboard>

  <div class="row col-xs-offset-1 col-xs-10">
    <form class="form-horizontal" ng-submit="find(email);">
      <fieldset>

      <!-- Form Name -->
      <legend>Search for users</legend>

      <!-- Search input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="searchinput">User email</label>
        <div class="col-md-5">
          <input id="searchinput" name="searchinput" ng-model="email" ng-change="find(email);" type="search" placeholder="user email" class="form-control input-md" required="">
        </div>
      </div>

      <!-- Button -->
      <div class="form-group">
        <div class="col-md-12">
          <button id="searchbtn1" name="searchbtn1" class="btn btn-primary" type="submit">Search</button>
          <button id="searchbtn2" name="searchbtn2" class="btn btn-inversed" type="button" ng-click="findAll();">Show all</button>
          <button id="searchbtn3" name="searchbtn3" class="btn btn-inversed" type="button" ng-click="findManagers();">Show managers</button>
          <button id="searchbtn4" name="searchbtn4" class="btn btn-inversed" type="button" ng-click="findBorrowers();">Show borrowers</button>
        </div>
      </div>

      </fieldset>
    </form>

  </div>


  <div class="row">
    <div class="col-xs-offset-1 col-xs-10">
      <div class="row head-row">
        <div class="col-xs-4">Email</div>
        <div class="col-xs-2">Type</div>
        <div class="col-xs-3">Created At</div>
        <div class="col-xs-3 text-center">Operations</div>
      </div>

      <div class="row" ng-repeat="user in visibleUsers" ng-class="{'odd-row': $index % 2, 'even-row': !($index % 2)}">
        <div class="col-xs-4">{{user.username}}</div>
        <div class="col-xs-2">
          <span ng-show="user.type === MANAGER_TYPE_ID">
            <span style="background-color: orange; padding-left: 3px; padding-right: 4px; margin-right: 4px;">M</span>anager
          </span>
          <span ng-show="user.type === BORROWER_TYPE_ID">
            <span style="background-color: white; padding-left: 4px; padding-right: 4px; margin-right: 4px;">B</span>orrower
          </span>
        </div>
        <div class="col-xs-3">{{user.created | date:'MM/dd/yyyy @ h:mma'}}</div>
        <div class="col-xs-3 text-center">
          <button type="button" class="btn btn-info btn-sm" ui-sref="update-user({userId: user.id})">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-danger btn-sm" ng-click="deleteUser(user.id);">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-default btn-sm" ui-sref="send-notification({userId: user.id})"">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
