<div class="container-fluid">

  <navigate-to-dashboard></navigate-to-dashboard>

  <hr />

  <div class="row">
    <div class="col-xs-offset-1 col-sm-offset-2 col-xs-10 col-sm-8">
      <div class="row">
        <div class="h4">
          You are writing a notification for <span style="color: orange">{{userData.username}}</span>.
        </div>
      </div>

      <br />

      <div class="row">
        <form class="form-horizontal" ng-submit="submit(subject, body);">
          <fieldset>

            <!-- Form Name -->
            <legend>Form Name</legend>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="textinput">Destination</label>
              <div class="col-md-6">
                <input ng-model="userData.username" ng-model="subject" type="text" class="form-control input-md" disabled>
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="textinput">Email subject</label>
              <div class="col-md-6">
                <input id="textinput" name="textinput" ng-model="subject" type="text" placeholder="subject here" class="form-control input-md" required="">
              </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="textarea">Email body</label>
              <div class="col-md-6">
                <textarea class="form-control" ng-model="body" id="textarea" name="textarea" rows="10"></textarea>
              </div>
            </div>

            <!-- Button -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="singlebutton"></label>
              <div class="col-md-4">
                <button id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit">Submit</button>
              </div>
            </div>

          </fieldset>
        </form>

      </div>

      <div class="row">
        <div class="h3 text-center" style="color:red;" ng-show="errorMsg">
          {{errorMsg}}
        </div>
        <div class="h3 text-center" style="color: green;" ng-show="successMsg">
          {{successMsg}}
        </div>
      </div>
    </div>
  </div>

</div>
