<div class="containter-fluid">
  <navigate-to-dashboard></navigate-to-dashboard>

  <div class="row">
    <div class="col-xs-offset-1 col-sm-offset-2 col-xs-10 col-sm-8" style="background-color: lightblue;">
      <form class="form-horizontal" ng-submit="update(userData);">
        <fieldset>

        <!-- Form Name -->
        <legend>Update user</legend>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput1">Username</label>
          <div class="col-md-6">
          <input id="textinput1" ng-model="userData.username" name="textinput1" type="text" placeholder="book name" class="form-control input-md" required="">

          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput2">Type</label>
          <div class="col-md-6">
          <input id="textinput2" ng-model="userData.type" name="textinput2" type="text" placeholder="book author name" class="form-control input-md" required="">

          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="numberinput1">Password</label>
          <div class="col-md-4">
            <input ng-model="userData.password" type="password" placeholder="password" class="form-control input-md" required="">
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-8">
            <button id="cancelbtn" name="cancelbtn" class="btn btn-warning" type="reset">Cancel</button>
            <button id="updatebtn" name="updatebtn" class="btn btn-success" type="submit">Update</button>
          </div>
        </div>

        </fieldset>
      </form>

      <div class="row">
        <div class="h3 text-center" style="color:red;" ng-show="errorMsg">
          {{errorMsg}}
        </div>
        <div class="h3 text-center" style="color: green;" ng-show="successMsg">
          {{successMsg}}
        </div>
      </div>
    </div>
  </div>
</div>
