<div class="row">
  <div class="col-md-12 text-right">
    <button class="btn btn-success" ui-sref="manager-dashboard" style="margin-top: 10px; margin-bottom: 10px;">Navigate back</button>
  </div>
</div>
