<div class="container-fluid">
  <navigate-to-dashboard></navigate-to-dashboard>

  <div class="row">
    <div class="col-xs-offset-1 col-xs-10">
      <form class="form-horizontal" ng-submit="find(name);">
        <fieldset>

        <!-- Form Name -->
        <legend>Search for books</legend>

        <!-- Search input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="searchinput">Book name</label>
          <div class="col-md-5">
            <input id="searchinput" name="searchinput" type="search" ng-model="name" ng-change="find(name);" placeholder="book name" class="form-control input-md" required="">

          </div>
        </div>

        <!-- Button -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="searchbtn"></label>
          <div class="col-md-4">
            <button id="searchbtn" name="searchbtn" class="btn btn-primary" type="submit">Search</button>
            <button id="searchAllBtn" class="btn btn-inversed" ng-click="findAll();" type="button">Show all</button>
          </div>
        </div>

        </fieldset>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-offset-1 col-xs-10">
      <div class="row head-row" ng-show="booksArr.length">
        <div class="col-xs-4">Book name</div>
        <div class="col-xs-2">Author name</div>
        <div class="col-xs-2">Available stock</div>
        <div class="col-xs-2">Total Stock</div>
        <div class="col-xs-2">Operations</div>
      </div>

      <div class="row" ng-repeat="book in visibleBooks" ng-class="{'odd-row': $index % 2, 'even-row': !($index % 2)}">
        <div class="col-xs-4">{{book.name}}</div>
        <div class="col-xs-2">{{book.author}}</div>
        <div class="col-xs-2">{{book.availableStock}}</div>
        <div class="col-xs-2">{{book.totalStock}}</div>
        <div class="col-xs-2">
          <button type="button" class="btn btn-info" ng-click="updateBook(book.id);">
            <!-- <img ng-src="{{githubUrl | favicon}}" alt="GitHub"> -->
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-danger" ng-click="deleteBook(book.id);">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
